@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

body {
  @apply grid min-h-screen content-center justify-center bg-[#f0f0f0] font-poppins;
}

.form-group {
  @apply flex items-start gap-[32px];
}
